.BottomMenuItem {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 1px solid rgba(47, 234, 128, 1);
  background-color: transparent;
  cursor: pointer;
  transition-property: border-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}
.BottomMenuItem:hover {
  border-color: rgba(47, 234, 128, 0.5);
  color: rgba(28, 142, 77, 0.7);
}
.BottomMenuItem:active {
  border-color: rgba(47, 234, 128, 0.1);
  color: rgba(28, 142, 77, 0.3);
}

.BottomMenuItemSelected,
.BottomMenuItemSelected:hover,
.BottomMenuItemSelected:active {
  background-color: rgba(47, 234, 128, 1);
  border: 1px solid rgba(47, 234, 128, 1);
  color: black;
}