.Page {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}
.PageTop {
    z-index: 1;
}
.PageOther {
    z-index: 0;
    visibility: hidden;
}